extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat rhoncus convallis. Sed vitae neque vel nisi congue viverra et sit amet enim. Vestibulum vitae arcu ante. Vestibulum vestibulum volutpat blandit. Sed finibus non dolor eu pulvinar. Aliquam porta risus ut felis pulvinar, ac consequat tortor congue. 

                p Nam ligula orci, finibus at metus et, aliquet pellentesque justo. Nulla dictum dictum massa, non tristique augue vestibulum nec. Morbi laoreet finibus tortor at accumsan. Vivamus lacinia hendrerit nibh, ac aliquet ante iaculis nec. Maecenas a urna in est vulputate posuere. Donec malesuada cursus auctor. Nullam viverra lacinia enim eu tempus. 

                p Ut ultricies turpis nec molestie gravida. Vivamus id nunc id quam vestibulum efficitur. Phasellus feugiat, lectus id euismod mattis, lorem lorem aliquet augue, nec mollis est justo vel eros. Suspendisse potenti. Nulla ac mauris scelerisque, porta risus et, congue ex. Duis vestibulum ullamcorper euismod. Proin in lacus ut diam egestas rutrum eu quis tellus. Duis elementum rhoncus ultricies.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Suspendisse potenti. Nulla ac mauris scelerisque, porta risus et, congue ex. Duis vestibulum ullamcorper euismod. Proin in lacus ut diam egestas rutrum eu quis tellus. Duis elementum rhoncus ultricies.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Suspendisse potenti. Nulla ac mauris scelerisque, porta risus et, congue ex. Duis vestibulum ullamcorper euismod. Proin in lacus ut diam egestas rutrum eu quis tellus. Duis elementum rhoncus ultricies.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Suspendisse potenti. Nulla ac mauris scelerisque, porta risus et, congue ex. Duis vestibulum ullamcorper euismod. Proin in lacus ut diam egestas rutrum eu quis tellus. Duis elementum rhoncus ultricies.